@using CheckIt.Web.Models;
@model IEnumerable<TreeViewModel>
@helper TreeView(IEnumerable<Folder> folders)
{
    foreach (var folder in folders)
    {
        <li>
            @if (folder.IsLeaf)
            {
                <span class="leaf @folder.Type" id="@folder.Id">@folder.Name</span>
            }
            else
            {
                <span class="folder">@folder.Name</span>
                <ul>
                    @TreeView(folder.Subfolders)
                </ul>
            }
        </li>
    }
}
<ul id="continentFolders">
    @TreeView(Model)
</ul>